.bz{
    background-color: rgba(232, 53, 53, 0.255);
}
.rating-icon{
    width: 20px;
}
.bz-footer{
    background-color: #0B0D17;
}
.brand-icon{
    width: 100px;
}
.bz-margin-bottom{
    margin-top: -50px;
}